 body{
      font-family: Arial;
      text-align: center;
      padding: 20px;
    }
 .dark{
      background-color: black;
      color: white;
    }
    #box{
      width: 200px;
      height: 200px;
      background: lightblue;
      margin: 20px auto;
      line-height: 200px;
      font-size: 20px;
      border-radius: 10px;
    }
